@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manaspace";
  font-weight: 400;
  src: url("/fonts/Manaspace.ttf");
}

@font-face {
  font-family: "Internal Rainbows";
  font-weight: 400;
  src: url("/fonts/InternalRainbows.otf");
}

html {
  background: #1100ff;
  margin: 0;
  padding: 0;
}
