@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manaspace";
  font-weight: 400;
  src: url("/fonts/Manaspace.ttf");
}

@font-face {
  font-family: "Internal Rainbows";
  font-weight: 400;
  src: url("/fonts/InternalRainbows.otf");
}

@font-face {
  font-family: "at01";
  font-weight: 400;
  src: url("/fonts/at01.ttf");
}

@font-face {
  font-family: "Leco";
  font-weight: 400;
  src: url("/fonts/leco.ttf");
}


html {
  background-image: url("https://thedial.infura-ipfs.io/ipfs/QmchvymSLXmGatbUyLYUvHM3AaEhMiSFooizfmnGRMhPsF");
  margin: 0;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1100ff;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html::-webkit-scrollbar {
  width: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0%;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0%;
}

body::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}
